.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.sensors {
    display: flex;
    padding-top: 20px;
}   

.lastValue {
    float: left;
}

.timeInterval {
    float: right;
}

.container .content {    
    align-items: baseline;
    padding-top: 20px;
}

.contentTitle {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}