<h3>Nazwa sensora: {{ measuredValues[0].sensor.name }}</h3>
<table class="table table-hover">
     <thead class="thead-dark">
          <tr>
               <th>Wartość pomiaru</th>
               <!--<th>Sensor</th>-->
               <th>Data</th>
          </tr>
     </thead>

     <tbody>
          <tr *ngFor="let tempValues of measuredValues" >
            <td>{{ tempValues.value }}</td> 
            <!--<td>{{ tempValues.sensor.name }}</td>-->  
            <td>{{ tempValues.measuredTime | date:'short' }}</td>
          </tr>
     </tbody>
</table>




<!--<p *ngFor="let tempValues of measuredValues" >
     Wartość pomiaru: {{ tempValues.value }}, Sensor: {{ tempValues.sensor.name }}, Data: {{ tempValues.measuredTime | date:'short' }}
</p>-->



