<div class="tableValues">
     <h4>Values:</h4>
     <table class="table table-hover">
          <thead class="thead-dark">
               <tr>
                    <th>Sensor ID</th>
                    <th>Sensor name</th>
                    <th>Value</th>
                    <th>Data</th>
               </tr>`
          </thead>
          <tbody>
               <tr *ngFor="let tempValues of measuredValues">
                    <td>{{ tempValues.sensorId}}</td>
                    <td>{{ tempValues.measuredValueId}}</td>
                    <td>{{ tempValues.value }}</td>
                    <td>{{ tempValues.measuredTime | date:'short' }}</td>
               </tr>
          </tbody>
     </table>




     <!--<p *ngFor="let tempValues of measuredValues" >
     Wartość pomiaru: {{ tempValues.value }}, Sensor: {{ tempValues.sensor.name }}, Data: {{ tempValues.measuredTime | date:'short' }}
</p>-->
</div>